{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          required
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          required
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="Enter your first name"
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          required
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          placeholder="Enter your last name"
        />
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          required
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          required
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>  
      <div class="form-group">
        <label for="account_type">Account Type</label>
        <select name="account_type">
          <option value="0">Standard</option>
          <option value="1">College</option>
          <option value="2">Business</option>
        </select>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}